@import '../../Scss/variables';

.player {
  border-radius: 4px;
  margin-bottom: 1rem;
  position: relative;
  overflow: hidden;
  background: rgba(211, 100, 130, 1);

  .player__video {
    position: relative;
    cursor: pointer;

    .player__video--play {
      position: absolute;
      font-size: 3rem;
      opacity: .7;
      left: 45%;
      top: 45%;
    }

    &:hover {
      .player__video--play {
        opacity: 1;
      }
    }
  }

  .btn-group {
    width: 100%;
    position: relative;
    right: 0;

    .btn {
      width: 50%;
      float: left;
      border-radius: 0;
    }
  }

  @media (min-width: 768px) {
    .btn-group {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
    }
  }

  .player__channel {
    padding: 1rem 1rem;
    position: relative;

    .badge {
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 0;
    }

    a {
      color: #fff;

      * {
        color: #fff !important;
      }
    }
  }
}
